<div  style="padding: 10px; border: 1px solid rgba(0,0,255,0.2); background-color: rgba(0,0,255,0.1); border-radius: 5px" >
<button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#addProductModal">Add Product</button>
    <button type="button" class="btn btn-primary btn-sm" ng-disabled="!pr.getProducts" data-toggle="modal" data-target="#aliasModal">Add Alias</button>
    <button type="button" class="btn btn-success btn-sm" ng-disabled="!pr.getProducts || pr.getProducts.Discontinued==1" data-toggle="modal" data-target="#skuOrderRequestModal">New PO</button>
    <button type="button" class="btn btn-warning btn-sm" ng-disabled="!pr.getProducts" data-toggle="modal" data-target="#soModal">Adjustment</button>
 </div>


  <!--Sku Order Request Modal-->
  <div class="modal fade" id="skuOrderRequestModal" tabindex="-1" role="dialog" aria-hidden="true">
  <?php include('../partials/skuOrderRequestModal.php'); ?>
</div>
  <!--Alias Modal-->
  <div class="modal fade" id="aliasModal" tabindex="-1" role="dialog" aria-hidden="true">
  <?php include('../partials/aliasModal.php'); ?>
</div>
  <!--Adjustment Modal-->
<div class="modal fade" id="soModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <?php include('../partials/productAdjustModal.php') ?>
</div>
<!--Adjustment Modal-->
<div class="modal fade" id="addProductModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <?php include('../partials/productAdjustModal.php') ?>
</div>
<!--Add Product-->
<div class="modal fade" id="addProductModal" tabindex="-1" role="dialog" aria-hidden="true">
  <?php include('../partials/addProductModal.php'); ?>
</div>
</div>
